<section class="hero">

  <div class="hero-overlay"></div>

  <div class="hero-content">

    <h1 class="hero-title">
      Building Bridges <br>
      to Better Investments
    </h1>

    <div class="hero-divider"></div>

    <p class="hero-description">
      Strategic Investments. Business Growth.
      <br>
      Long-term Value.
    </p>

    <div class="hero-values">

      <div class="value-item">
        <span class="material-symbols-outlined icon">
          monitoring
        </span>

        <p>
          STRATEGIC <br>
          INVESTMENTS
        </p>
      </div>

      <div class="value-item">
        <span class="material-symbols-outlined icon">
          handshake
        </span>

        <p>
          STRONG <br>
          PARTNERSHIPS
        </p>
      </div>

      <div class="value-item">
        <span class="material-symbols-outlined icon">
          apartment
        </span>

        <p>
          BUSINESS <br>
          GROWTH
        </p>
      </div>

      <div class="value-item">
        <span class="material-symbols-outlined icon">
          verified
        </span>

        <p>
          SUSTAINABLE <br>
          VALUE
        </p>
      </div>

    </div>

    <button class="hero-btn">
      Discover Opportunities
      <span>→</span>
    </button>

  </div>

</section>