<section class="hero relative min-h-screen bg-contain bg-top bg-no-repeat md:bg-cover md:bg-center">
  <div class="hero-overlay"></div>

  <!-- Added `text-center md:text-left` and `items-center md:items-start` -->
  <div class="hero-content flex-col items-center text-center md:items-start md:text-left">

    <h1 class="hero-title">
      Building Bridges <br>
      to Better Investments
    </h1>

    <div class="hero-divider"></div>

    <p class="hero-description">
      Strategic Investments. Business Growth.
      <br>
      Long-term Value.
    </p>

    <div class="hero-values text-lg">

      <div class="value-item">
        <p>
          STRATEGIC <br>
          INVESTMENTS
        </p>
      </div>

      <div class="value-item">
        <p>
          STRONG <br>
          PARTNERSHIPS
        </p>
      </div>

      <div class="value-item">
        <p>
          BUSINESS <br>
          GROWTH
        </p>
      </div>

      <div class="value-item">
        <p>
          SUSTAINABLE <br>
          VALUE
        </p>
      </div>

    </div>

    <button routerLink="/ecosystem" class="hero-btn">
      Explore Our Ecosystem
      <span>→</span>
    </button>

  </div>

</section>