<section class="hero">

  <div class="hero-overlay"></div>

  <div class="hero-content">

    <h1 class="hero-title">
      Building Bridges <br>
      to Better Investments
    </h1>

    <div class="hero-divider"></div>

    <p class="hero-description">
      Strategic Investments. Business Growth.
      <br>
      Long-term Value.
    </p>

    <div class="hero-values text-lg">

      <div class="value-item">
        <p>
          STRATEGIC <br>
          INVESTMENTS
        </p>
      </div>

      <div class="value-item">
        <p>
          STRONG <br>
          PARTNERSHIPS
        </p>
      </div>

      <div class="value-item">
            <p>
          BUSINESS <br>
          GROWTH
        </p>
      </div>

      <div class="value-item">
           <p>
          SUSTAINABLE <br>
          VALUE
        </p>
      </div>

    </div>

    <button routerLink="/ecosystem" class="hero-btn">
      Explore Our Ecosystem
      <span>→</span>
    </button>

  </div>

</section>