<section class="relative min-h-screen overflow-x-hidden">

    <!-- Overlay -->

    <div
        class="absolute inset-0
               bg-gradient-to-r
               from-[#050505]/95
               via-[#050505]/78
               to-[#050505]/35">
    </div>

    <!-- Content -->

    <div
        class="relative
               z-10
               w-full
               mx-auto
               h-full
               px-8
               pt-26">

        <div
            class="grid
                   lg:grid-cols-12
                   gap-
                   h-full
                   items-center">

            <!-- LEFT -->

            <div class="lg:col-span-4">

                <p
                    class="uppercase
                           tracking-[0.35em]
                           text-[#C8A75B]
                           text-sm
                           font-semibold">

                    The Lotina Ecosystem

                </p>

                <h1
                    class="mt-3
                           text-3xl
                           lg:text-5xl
                           font-light
                           leading-tight
                           text-white">

                    Building Businesses
                    <br>

                    That Build Africa

                </h1>

                <!-- Divider -->

                <div
                    class="w-16
                           h-px
                           bg-[#C8A75B]/70
                           my-5">
                </div>

                <p
                    class="text-lg
                           text-gray-300
                           leading-8
                           max-w-md">

                    Lotina Investments builds and supports
                    businesses across technology, mobility,
                    commerce, logistics and digital infrastructure
                    to create sustainable growth and long-term
                    value across Africa.

                </p>

            </div>

            <!-- RIGHT -->

            <div class="lg:col-span-8 flex justify-end pr-6 mt-10">
               

                <app-ecosystem-hero-diagram></app-ecosystem-hero-diagram>

             
            </div>

        </div>

    </div>

</section>