<section class="bg-[#090909] py-18">

    <div class="max-w-7xl mx-auto px-8">

        <div class="grid lg:grid-cols-5 gap-8 items-center">

            <!-- LEFT -->

            <div class="lg:col-span-2">

                <p class="uppercase
                           tracking-[0.35em]
                           text-[#C8A75B]
                           text-sm
                           font-semibold">

                    The Lotina Story

                </p>

                <h2 class="mt-5
                           text-4xl
                           font-light
                           text-white
                           leading-tight">

                    A Letter From Our Founders

                </h2>

                <!-- Divider -->

                <div class="w-20
                           h-px
                           bg-[#C8A75B]/70
                           my-2">
                </div>

                <p class="text-gray-400
                           leading-8
                           text-lg
                           mb-2">

                    Lotina Investments backs resilient African entrepreneurs with patient capital. We invest in bold
                    visionaries who are solving real-world challenges and creating critical opportunities.
                </p>

                <p class="text-gray-400
                           leading-8
                           text-lg">

                    Our journey and partnerships are long-term,
                    and our purpose is clear —
                    to build a better future together.

                </p>

                <!-- Quote -->

                <blockquote class="border-l-2
                           border-[#C8A75B]
                           pl-6
                           italic
                           text-white
                           text-xl
                           leading-8">

                    "We believe the strongest investments are built
                    on trust, vision, and enduring partnerships."

                </blockquote>

                <!-- Signature -->
                <div class="flex flex-col ">

                    <img src="/signature.png" alt="Founder Signature" class="h-38 w-auto" style="margin-left: -3cm;">

                    <h4 class="text-2xl text-white font-light leading-none">
                        The Lotina Investments Team
                    </h4>

                    <p class="text-[#C8A75B] text-sm leading-none">
                        Founders & Partners
                    </p>

                </div>


            </div>

            <!-- RIGHT -->

            <div class="lg:col-span-3">

                <img src="/letter.png" alt="Founders" class="rounded-3xl
                           w-full
                           h-130
                           object-cover">

            </div>

        </div>

    </div>

</section>