<section
  class="relative flex min-h-[90vh] items-center overflow-hidden border-b border-white/10 bg-[var(--lotina-black)]">

  <!-- Overlay -->
  <div
    class="absolute inset-0 bg-gradient-to-r from-[rgba(7,7,8,.95)] via-[rgba(7,7,8,.70)] to-[rgba(7,7,8,.25)]">
  </div>

  <div
    class="relative z-10 mx-auto grid w-[92%] max-w-[1400px] grid-cols-1 items-center gap-20 py-20 lg:grid-cols-2">

    <!-- LEFT -->

    <div class="space-y-8">

      <p
        class="text-sm font-medium uppercase tracking-[4px] text-[var(--lotina-gold)]">

        LOTINA INSIGHTS

      </p>

      <h1
        class="font-serif text-3xl leading-tight text-[var(--lotina-white)] md:text-6xl">

        Biulding Afirca's Next Generation of Digital Businesses

      </h1>

      <div
        class="h-[3px] w-24 bg-[var(--lotina-gold)]">
      </div>

      <p
        class="max-w-xl text-lg leading-9 text-[var(--lotina-silver)]">

        Through Innovation, technology and bold ideas, we are builing the future of industries, empowering communities and shaping a smarter, more connected Africa.

      </p>

      <div class="flex flex-wrap gap-6">

        <a
          routerLink="/news"
          class="hero-btn">

          Explore News

          <span>→</span>

        </a>

        <a
          routerLink="/contact"
          class="hero-btn">

          Media Kit

          <span>→</span>

        </a>

      </div>

    </div>

    <!-- RIGHT -->

    <div class="flex justify-center lg:justify-end">

      <img
        src="assets/images/news/news-hero.png"
        alt="News Hero"
        class="w-full max-w-3xl rounded-xl object-cover shadow-2xl">

    </div>

  </div>

</section>