<section
  class="relative flex h-[100vh] items-center overflow-hidden border-b border-white/10 bg-[var(--lotina-black)]">

  <!-- Background Image -->

  <div class="absolute inset-0">

    <img src="/heee.png" alt="Lotina Insights" class="h-[600px] w-full  object-center mt-6">

  </div>

  <!-- Soft Dark Overlay -->

  <div class="absolute inset-0 bg-black/15">
  </div>

  <!-- Lighter Gradient Overlay -->

  <div class="absolute inset-0 bg-gradient-to-r from-[rgba(7,7,8,.86)] via-[rgba(7,7,8,.75)] to-[rgba(7,7,8,.40)]">
  </div>


  <!-- Gold Glow -->

  <div
    class="absolute left-0 top-1/2 h-[600px] w-[600px] -translate-y-1/2 rounded-full bg-[var(--lotina-gold)]/10 blur-[150px]">
  </div>

  <!-- Content -->

  <div class="relative z-10 mx-auto w-[92%] max-w-7xl py-16 lg:py-20">

    <div class="max-w-3xl">

      <p class="mt-10 mb-4 text-sm font-medium uppercase tracking-[4px] text-[var(--lotina-gold)]">

        LOTINA INSIGHTS

      </p>

      <h1 class="font-serif text-3xl leading-tight text-[var(--lotina-white)] md:text-5xl lg:text-6xl">

        Building Africa's Next Generation
        <br>
        of Digital Businesses

      </h1>

      <div class="mt-3 h-[1px] w-24 bg-[var(--lotina-gold)]">
      </div>

      <p class="mt-5 max-w-2xl text-lg leading-9 text-[var(--lotina-silver)]">

        Through innovation, technology, and bold ideas, we are building
        the future of industries, empowering communities, and shaping
        a smarter, more connected Africa.

      </p>

      <div class="mt-7 flex flex-wrap gap-5">

        <a routerLink="/insights/all"
          class="rounded-full bg-[var(--lotina-gold)] px-8 py-4 text-sm font-medium uppercase tracking-[3px] text-black transition-all duration-300 hover:scale-105">

          Explore Insights

        </a>

        <a routerLink="/about"
          class="rounded-full border border-white/20 px-8 py-4 text-sm font-medium uppercase tracking-[3px] text-white transition-all duration-300 hover:border-[var(--lotina-gold)] hover:text-[var(--lotina-gold)]">

          Learn More

        </a>

      </div>

    </div>

  </div>

</section>