<section
  class="w-full border-y border-white/5 bg-black/70 backdrop-blur-md py-8">

  <div class="max-w-[1600px] mx-auto px-16">

    <p class="text-center text-xs tracking-[0.35em] uppercase text-zinc-600 mb-8">
      Trusted By Forward Thinking Partners
    </p>

    <div class="flex justify-center items-center gap-16 flex-wrap">

      <div class="text-4xl font-light text-zinc-400 hover:text-white transition duration-300 cursor-pointer">
        Xride
      </div>

      <div class="text-3xl font-light text-zinc-400 hover:text-white transition duration-300 cursor-pointer">
        Fork&Go
      </div>

      <div class="text-3xl font-light text-zinc-400 hover:text-white transition duration-300 cursor-pointer">
        EasyDuka
      </div>

      <div class="text-3xl font-light text-zinc-400 hover:text-white transition duration-300 cursor-pointer">
        Clexarly
      </div>

      <div class="text-3xl font-light text-zinc-400 hover:text-white transition duration-300 cursor-pointer">
        ShopIt
      </div>

      <div class="text-3xl font-light text-zinc-400 hover:text-white transition duration-300 cursor-pointer">
        T3Clar
      </div>

    </div>

  </div>

</section>