<section class="bg-[#0B0B0B] py-[1.65rem]">

    <div class="max-w-7xl mx-auto px-[1.9rem]">

        <div class="grid lg:grid-cols-5 gap-[3.8rem] items-center">

            <!-- LEFT SIDE -->

            <div class="lg:col-span-2">

                <p class="uppercase tracking-[0.285em] text-[#C8A75B] text-[0.83rem] font-semibold mb-[1.18rem]">
                    Our Investment Focus
                </p>

                <h2 class="text-[2.35rem] xl:text-[3rem] font-bold text-white leading-tight mb-[1.9rem]">

                    Investing In Ideas
                    <br>
                    That Build Tomorrow

                </h2>

                <p class="text-gray-400 leading-7 text-[1.06rem] mb-[2.37rem]">

                    At Lotina Investments, we deploy capital, expertise and strategic
                    partnerships into businesses capable of transforming industries,
                    creating sustainable value and shaping Africa's future economy.

                </p>

                <button  routerLink="/investments"
                class="border border-[#C8A75B] text-[#C8A75B]
                           px-[1.9rem] py-[0.95rem] rounded-full
                           hover:bg-[#C8A75B]
                           hover:text-black
                           duration-300">

                    Explore Investments

                </button>

            </div>

            <!-- RIGHT SIDE -->

            <div class="lg:col-span-3">

                <div class="grid md:grid-cols-3 gap-[0.98rem]">

                    @for(sector of sectors; track sector.title){

                    <div class="group
                   bg-[#141414]
                   border border-[#262626]
                   rounded-[0.931rem]
                   p-[1.862rem]
                   transition-all
                   duration-300
                   hover:-translate-y-[0.461rem]
                   hover:border-[#C8A75B]
                   hover:shadow-[0_0_27.93px_rgba(200,167,91,.176)]">


                        <h3 class="text-gray-200
                       text-[0.98rem]
                       font-semibold
                       mb-[0.147rem]
                       group-hover:text-[#C8A75B]
                       duration-300">

                            {{sector.title}}

                        </h3>

                        <p class="text-gray-400 text-[0.98rem] leading-[1.47rem]">

                            {{sector.description}}

                        </p>

                    </div>

                    }

                </div>

            </div>
        </div>
    </div>

</section>