<section
    class="relative overflow-hidden min-h-[520px] flex items-center justify-center">

    <!-- Background -->

    <div
        class="absolute inset-0 bg-cover bg-center animate-slow-zoom"
        style="background-image:url('/ab cta.png')">
    </div>

    <!-- Overlay -->

    <div
        class="absolute inset-0
               bg-gradient-to-b
               from-black/90
               via-black/80
               to-black/90">
    </div>

    <!-- Content -->

    <div
        class="relative
               z-10
               max-w-4xl
               mx-auto
               px-8
               text-center">

        <!-- Small Heading -->

        <p
            class="uppercase
                   tracking-[0.35em]
                   text-[#C8A75B]
                   text-sm
                   font-semibold">

            Partner With Lotina

        </p>

        <!-- Main Heading -->

        <h2
            class="text-white
                   text-3xl
                   lg:text-5xl
                   font-light
                   leading-tight
                   ">

            Let's Build Tomorrow's Future Together

        </h2>

        <!-- Divider -->

        <div
            class="w-16
                   h-px
                   bg-white/20
                   mx-auto
                   my-2">
        </div>

        <!-- Description -->

        <p
            class="text-gray-300
                   text-lg
                   leading-8
                   max-w-2xl
                   mx-auto">

            Partner with Lotina Investments to transform
            ambitious ideas into scalable businesses,
            strategic partnerships and sustainable value
            across Africa.

        </p>


    </div>

</section>