<section class="bg-[#111111] border-y border-white/5 py-16"> 
  <div class="max-w-7xl mx-auto px-8"> 
    <div class="grid lg:grid-cols-5 gap-10 items-center"> 
      
      <!-- LEFT --> 
      <div class="lg:col-span-2"> 
        <p class="uppercase tracking-[0.3em] text-[#C8A75B] text-xs font-semibold mb-3"> 
          Why Lotina 
        </p> 
        <h2 class="text-3xl font-light text-white leading-tight"> 
          Strength. Vision. <br> <span class="text-4xl font-normal"> Commitment. </span> 
        </h2> 
        <!-- Divider --> 
        <div class="w-12 h-px bg-white/20 my-5"></div> 
        <p class="text-gray-400 leading-7 text-base mb-6"> 
          We combine disciplined investment, deep market expertise and long-term partnerships to create businesses that generate sustainable value across Africa. 
        </p> 
      </div> 

      <!-- RIGHT --> 
      <div class="lg:col-span-3"> 
        <div class="grid grid-cols-2 gap-y-8 lg:grid-cols-4"> 
          @for(stat of stats; track stat.label){ 
            <div class="text-center border-r border-white/10 last:border-r-0 lg:border-r lg:last:border-r-0"> 
              <h3 class="text-4xl font-light text-white mb-2"> {{stat.number}} </h3> 
              <p class="uppercase tracking-widest text-[10px] text-gray-400"> {{stat.label}} </p> 
            </div> 
          } 
        </div> 
      </div> 

    </div> 
  </div> 
</section>
